@font-face {
    font-family: 'writeChinese';
    src: url(./FANMENGWENROUNAILAOTI-2.TTF);
}

@font-face {
    font-family: 'Fira Code Medium';
    src: url(./FIRACODE-MEDIUM.TTF);
}

@font-face {
    font-family: 'siyuanMedium';
    src: url(./SOURCEHANSERIFSC-MEDIUM.OTF);
}